.circles {
  height: 40vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.half-circle:nth-child(1) {
  position: absolute;
  height: 50px;
  width: 100px;
  border-radius: 75px 75px 0 0;
  border: 2px solid green;
  border-bottom: 0;
  z-index: 1;
  transform-origin: bottom;
  animation: rotate 1s infinite linear;
}
.half-circle:nth-child(2) {
  position: absolute;
  height: 60px;
  width: 120px;
  border-radius: 85px 85px 0 0;
  border: 2px solid red;
  border-bottom: 0;
  z-index: 2;
  transform-origin: bottom;
  animation: rotate 0.81s infinite linear;
  animation-direction: alternate;
  animation-delay: 0.1s;
}
.half-circle:nth-child(3) {
  position: absolute;
  height: 70px;
  width: 140px;
  border-radius: 95px 95px 0 0;
  border: 2px solid yellow;
  border-bottom: 0;
  transform-origin: bottom;
  animation: rotate 1.23s infinite linear;
  z-index: 3;
  animation-delay: 0.2s;
}
.half-circle:nth-child(4) {
  position: absolute;
  height: 80px;
  width: 160px;
  border-radius: 105px 105px 0 0;
  border: 2px solid white;
  border-bottom: 0;
  transform-origin: bottom;
  animation: rotate 1.1s infinite linear;
  animation-direction: alternate;
  z-index: 4;
  animation-delay: 0.3s;
}

@keyframes rotate {
  0% {
  }
  100% {
    transform: rotate(360deg);
  }
}
